doctype html
html
	head(lang='ru')
		title Тренинговый Центры | Сила слова
		meta(charset='utf-8')
		link(rel="stylesheet", href="/css/font-awesome.min.css")
		link(rel="stylesheet", href="/css/mainstyle.min.css")
		script(src="/js/index.js", defer)
		
	body 
		img(src="svg/demo1.svg")
		.design
			img(src="svg/design.svg" class="img")
			img(src="svg/design1.svg" class="img1")
			img(src="svg/design2.svg" class="img2")
		.design
			img(src="svg/design3.svg" class="img3")
		.support
			img(src="svg/support.svg" class="img_support")