doctype html
html
	head(lang='ru')
		title SVG animation
		meta(charset='utf-8')
		link(rel="stylesheet", href="css/style.css")
		
		link(rel="stylesheet", href="css/svg.css")
	body 
		img(src="svg/demo1.svg" class="img_demo")
		img(src="svg/demo2.svg" class="img_demo")
		.design
			img(src="svg/design.svg" class="img_design")
			img(src="svg/design1.svg" class="img_design1")
			img(src="svg/design2.svg" class="img_design2")
			img(src="svg/design3.svg" class="img_design3")
		.support
			img(src="svg/support.svg" class="img_support")
			img(src="svg/support1.svg" class="img_support1")
			img(src="svg/support11.svg" class="img_support11")
			img(src="svg/support12.svg" class="img_support12")
			img(src="svg/support2.svg" class="img_support2")
			img(src="svg/support3.svg" class="img_support3")
			img(src="svg/support4.svg" class="img_support4")
		.blowball
			img(src="svg/blowball.svg" class="img_blowball")