@import "includes/settings";

body
{
	background: green;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.img, 
.img1, 
.img2, 
.img3, 
.img_support,
.img_support1,
.img_support2,
.img_support3
{
	width: 33%; 
	display: block;

	padding: 30px;
	margin-bottom: 30px;
}

.img
,.img1,
,.img2,
,.img3,
/*,.img_support*/
{
	display: none;
}

.design
{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.support
{
	display: flex;
	flex-wrap: wrap;
}

