@import "includes/settings";

body
{
	background: green;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.img_demo
,.img_design
,.img_design1
,.img_design2
,.img_design3
,.img_support
,.img_support1
,.img_support11
,.img_support12
,.img_support2
,.img_support3
,.img_support4
,.img_blowball
,.img_text
,.img_develop
{
	width: 33%; 
	display: block;

	padding: 30px;
	margin-bottom: 30px;
}

.img_demo
,.img_design
,.img_design1
,.img_design2
,.img_design3
,.img_support
,.img_support1
,.img_support11
,.img_support12
,.img_support2
,.img_support3
,.img_support4
,.img_text
,.img_blowball/*
,.img_develop*/
{
	display: none;
}

.design,
.support,
.blowball,
,.img_text
,.develop
{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.img_text
{
	width: 50%;
	margin: 0 auto;
}

